.i{
text-align: center;
font-weight: lighter;
    color: black;
}

.bovenkant{
    background-color: white;
    width: 100%;
}
#o{
    background-color: white;
    color: black;
    text-align: right;
    margin-right: 1%;
}
#q{
    color: blue;
}

.elo{
    color: black;
    margin-left: 4%;
}
.p{
   
color: black;

}
.m{
    text-align: right;
    color: black;
    margin-right: 4%;
}


body{
    margin: 0;
}

*{
    margin: 0;
}

.shoppa{
    margin-top:15%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
#q{
    text-align: center;
    color: black;
}

body{
    background-image: url(/images/ja1.jpg)
}
img{
    margin-top: 2%;
    width: 10%;
    
}

.clothing{
    display: flex;
    justify-content: space-between;
}

.onderkant{
    background-color: white;
    color: black;
    text-align: center;
}

.prijs{
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.aboutus{
    background-color: white;
    display: flex;
    text-indent: 50px;
    }

.onderkantinfo{
    color: black;
    background-color: white;

}