.i{
text-align: center;
font-weight: lighter;
    color: lightblue;
}

div{
    background-color: black;
    width: 100%;
}
#o{
    background-color: black;
    color: lightblue;
}

.elo{

    color: lightblue;
}
.p{
   
color: lightblue;
}
.m{
    text-align: right;
    color: lightblue;
}


body{
    margin: 0;
}

*{
    margin: 0;
}

.shoppa{
    margin-top:15%;
    display: flex;
    justify-content: space-between;
}